@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #212121;
  color: #e6e6e6;
}

nav {
  padding: 0.3rem;
  background: #212121;
  border: 1px solid transparent;
  border-bottom-color: #1b1b1b1e;
  margin-top: 0.3rem;
}

nav .nav__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__container .nav__navlogo {
  flex: 2;
  font-size: large;
  text-decoration: none;
  background: -webkit-linear-gradient(
    left,
    #405de6,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .nav__container .nav__navlogo * {
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  nav .nav__container .nav__navlogo {
    flex: 1;
  }
}

nav .nav__container img.insta__logo {
  width: 15%;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  nav .nav__container img.insta__logo {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  nav .nav__container img.insta__logo {
    width: 80%;
  }
}

nav .nav__menu {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 500px) {
  nav .nav__menu {
    flex: 1;
  }
}

nav .nav__menu a {
  color: #000;
}

.avatar__menu {
  cursor: pointer;
  position: relative;
}

.no__postError {
  margin: 4rem 0;
  color: #a5a5a5;
  font-size: 2rem;
}

mark {
  background: none;
  color: #006eff;
  cursor: pointer;
}

.stories {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.story {
  margin: 0 0.5rem;
  border: 3px solid #405de6;
}

.post {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #a5a5a5; */
  border-bottom: 1px solid #a5a5a5;

  border-radius: 3.5px;
  max-width: 700px;
  margin: 2rem 2rem;
}

.post .post__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.post .post__header h4 {
  margin-left: 10px;
  word-break: break-all;
}

.post .post__body img {
  object-fit: cover;
  width: 100%;
  opacity: 0.89;
  cursor: pointer;
  transition: all 0.4s;
  box-shadow: 0 0 5px 0 #fff;
}

.post .post__body img:hover {
  opacity: 1;
}

.post .post__footer {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.post .post__footer .post__caption {
  display: inline-block;
  width: 50%;
  margin: 0.8rem 0;
  word-break: break-all;
}

.sidebar {
  margin-top: 2rem;
  margin-left: 1rem;
  position: sticky;
  top: 2rem;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    position: static;
    margin-left: 0;
  }
}

.sidebar .sidebar__header {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}

.sidebar .sidebar__header .list {
  margin: 1rem 0;
  font-size: large;
}

.icon {
  color: #a5a5a5;
}

.home__container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .home__container {
    flex-direction: column-reverse;
  }
}

.posts {
  flex: 2;
}
